---
import BackgroundWrapper from "../layouts/BackgroundWrapper.astro";
import BookmarkItem from "../components/BookmarkItem.astro";
---

<BackgroundWrapper>
  <div class="flex flex-wrap h-screen place-items-center">
    <h1 class="text-slate-300 text-8xl">Startpage</h1>
    <ul class="flex flex-wrap w-screen justify-center">
      <BookmarkItem />
      <BookmarkItem />
      <BookmarkItem />
      <BookmarkItem />
      <BookmarkItem />
      <BookmarkItem />
      <BookmarkItem />
      <BookmarkItem />
      <BookmarkItem />
      <BookmarkItem />
      <BookmarkItem />
      <BookmarkItem />
      <BookmarkItem />
    </ul>
  </div>
</BackgroundWrapper>
