---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div id="outerWrapper" class="relative dark theme-slate">
    <div
      id="backgroundWrapper"
      class="fixed overflow-auto w-full h-full bg-theme-50 dark:bg-theme-800 transition-all"
      style="background-image:
	url(https://images.unsplash.com/photo-1488239585740-f5be6038763f?q=80&w=1472&auto=format&fit=crop);background-position:center;background-size:cover"
    >
      <div
        id="backgroundOverlay"
        class="fixed overflow-auto w-full h-full backdrop-brightness-100"
      >
        <div
          id="container"
          class="relative container m-auto mt-80 flex flex-col justify-start z-10 h-full"
        >
          <h1>TESTFFFVGFGTRGTGHGHGH</h1>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
