---
const { name, abbr, url } = Astro.props;

//https://www.google.com/s2/favicons?domain=dev.to&sz=128
---

<div class="mb-3 mr-3">
  <a
    class="block w-full text-left cursor-pointer transition-all h-15 rounded-md font-medium text-slate-700 dark:text-slate-300 dark:hover:text-slate-300 shadow-md shadow-slate-900/10 dark:shadow-slate-900/20 bg-slate-400/20 hover:bg-slate-400/20 dark:bg-white/10 dark:hover:bg-white/25"
    href="https://github.com/"
    target="_blank"
  >
    <div class="flex">
      <div
        class="flex-shrink-0 flex items-center justify-center w-11 bg-slate-800/10 dark:bg-slate-500/50 text-slate-700 hover:text-slate-700 dark:text-slate-100 text-sm font-extrabold rounded-l-md"
      >
        {abbr}
      </div>
      <div class="flex-1 flex items-center justify-between rounded-r-md">
        <div class="flex-1 grow pl-3 py-2 text-sm">{name}</div>
        <div
          class="px-2 py-2 truncate text-slate-400 dark:text-slate-400 text-xs"
        >
          {url}
        </div>
      </div>
    </div>
  </a>
</div>
