@import "tailwindcss";

@custom-variant highlighted (&:where(.highlight, .highlight *));

:root {
  --theme-color-light: oklch(1 0 0);
  --theme-color-dark: oklch(37.3% 0.034 259.733);
  --theme-color-lime: oklch(89.7% 0.196 126.665);
  --theme-color-amber: oklch(87.9% 0.169 91.605);
  --theme-color-rose: oklch(71.2% 0.194 13.428);
  --theme-color-blue: oklch(70.7% 0.165 254.624);
  --theme-color-stone: oklch(55.3% 0.013 58.071);
}

@theme {
  --color-primary: oklch(1 0 0 / 90%);
  --color-primary-foreground: oklch(0 0 0);
  --color-muted: oklch(1 0 0 / 65%);
  --color-muted-foreground: oklch(0 0 0 / 75%);
  --color-highlight: oklch(68.5% 0.169 237.323);
}

@layer base {
  [data-theme="light"] {
    --color-primary: oklch(1 0 0 / 80%);
    --color-primary-foreground: oklch(0 0 0);
    --color-muted: oklch(1 0 0 / 50%);
    --color-primary-foreground: oklch(0 0 0 / 75%);
  }

  [data-theme="dark"] {
    --color-primary: oklch(37.3% 0.034 259.733 / 80%);
    --color-primary-foreground: oklch(1 0 0);
    --color-muted: oklch(37.3% 0.034 259.733 / 50%);
    --color-muted-foreground: oklch(1 0 0 / 75%);
  }

  [data-theme="lime"] {
    --color-primary: oklch(89.7% 0.196 126.665 / 80%);
    --color-primary-foreground: oklch(0 0 0);
    --color-muted: oklch(89.7% 0.196 126.665 / 50%);
    --color-muted-foreground: oklch(0 0 0 / 75%);
  }

  [data-theme="amber"] {
    --color-primary: oklch(87.9% 0.169 91.605 / 80%);
    --color-primary-foreground: oklch(0 0 0);
    --color-muted: oklch(87.9% 0.169 91.605 / 50%);
    --color-muted-foreground: oklch(0 0 0 / 75%);
  }

  [data-theme="rose"] {
    --color-primary: oklch(71.2% 0.194 13.428 / 80%);
    --color-primary-foreground: oklch(0 0 0);
    --color-muted: oklch(71.2% 0.194 13.428 / 50%);
    --color-muted-foreground: oklch(0 0 0 / 75%);
  }

  [data-theme="blue"] {
    --color-primary: oklch(70.7% 0.165 254.624 / 80%);
    --color-primary-foreground: oklch(0 0 0);
    --color-muted: oklch(70.7% 0.165 254.624 / 50%);
    --color-muted-foreground: oklch(0 0 0 / 75%);
  }

  [data-theme="stone"] {
    --color-primary: oklch(55.3% 0.013 58.071 / 80%);
    --color-primary-foreground: oklch(1 0 0);
    --color-muted: oklch(55.3% 0.013 58.071 / 50%);
    --color-muted-foreground: oklch(1 0 0 / 75%);
  }
}
